/* MAIN */
:host {
  font-family: Work Sans, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h3,
h4,
h5,
h6 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  color: #333;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  color: #333;
}

p {
  margin: 0;
}
.logo {
  width: 140px;
}

span {
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
}
a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.toolbar {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: white;
  color: white;
  font-weight: 600;
}
.content {
  display: grid;
  margin-left: 20px;
  margin-top: 100px;
}

.home-container {
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  grid-template-rows: 1fr;
}
.img-left {
  width: 650px;
  margin-left: -10px;
  grid-column: 1 / 2;
}

.img-right {
  width: 600px;
  grid-column: 2/3;
}

/* CRYPTOCURRENCIES*/
.crypto-data-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 95vw;
}
.crypto-container {
  margin: 8px;
  padding: 10px;
  border-radius: 5px;
  color: white;
}
.crypto-logo-img {
  width: 20px;
}
.crypto-symbol {
  padding-left: 10px;
}
/* COMMODITIES - METALS */
.metal-logo-img {
  width: 50px;
}

/* INDEX */
.index-and-img-container {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.index-data-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: end;
  align-items: start;
}

.index-container {
  width: 400px;
}

.index-logo {
  margin-left: 80px;
}
.index-logo-img {
  width: 50px;
}

.img-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: start;
}

img {
  width: 500px;
}
